{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block content %}
    <div class="privacy-text">
        <h1>Про нас</h1>
        <div class="fs-5 col-md-8">
                <ul>
                <li>Ua Movies - бібліотека фільмів, створена, щоб допомогти шанувальникам досліджувати світ
                    фільмів і шоу та вирішувати, що подивитися.</li>
                <li>Наша база для пошуку містить багато фільмів. Uamovies може допомогти вам:</li>
                <ul class="about-list">
                    <li>Згадати необхідний фільм</li>
                    <li>Знайти найкращий фільм для перегляду</li>
                    <li>Поділитися своїми знаннями та думками зі спільнотою шанувальників</li>
                </ul>
                <li><a href="{% url 'accounts:signup' %}">Щоб створити обліковий запис Ua Movies,
                    перейдіть на сторінку реєстрації.</a></li>
            </ul>
        </div>
    </div>
{% endblock %}