{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">${{ product.price }}</p>
        {% if user.is_authenticated %}
            <form class="add_btn" action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart">
            </form>
            <script>
                var addUrl = "{% url 'cart:cart_add' product.id %}",
                    csrfToken = "{{ csrf_token }}";
                var addBtns = document.querySelectorAll('.add_btn');
                addBtns.onclick = function (event) {
                    var productId = event.target.dataset.productid;
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.open("POST", addUrl);
                    xmlhttp.setRequestHeader("Content-Type", "application/json");
                    xmlhttp.setRequestHeader("X-CSRFToken", csrfToken);
                    xmlhttp.onreadystatechange = function () {
                        if(this.readyState === 4 && this.status === 200){
                            console.log(this.responseText);
                        }
                    }
                    xmlhttp.send(JSON.stringify({product_id: productId}))
                }
            </script>
        {% endif %}
        {{ product.description|linebreaks }}
    </div>
    {% if request.user.is_superuser %}
        <p><a href="{% url 'shop:product_edit' product.pk %}">+ Edit Product</a></p>
        <p><a href="{% url 'shop:product_delete' product.pk %}">+ Delete Product</a></p>
    {% endif %}
{% endblock %}