{% extends "base.html" %}
{% block content %}

  <h3>Зміна паролю</h3>
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <a class="close" href="{{ request.path }}" data-dismiss="alert">&times;</a>
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value|escape }}</strong>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="small mb-1">Старий пароль:</label>
                        {{ form.old_password }}
                    <label class="small mb-1">Новий пароль:</label>
                        {{ form.new_password1 }}
                    <label class="small mb-1">Підтвердіть пароль:</label>
                        {{ form.new_password2 }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-lg btn-warning" id="reset">Оновити пароль</button>
        </div>
    </form>
{% endblock content %}