{% extends "base.html" %}
{% block title %} Password Reset {% endblock title%}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            {% if validlink %}
                <div class="mt-0 mb-3">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <a class="close" href="{{ request.path }}" data-dismiss="alert">&times;</a>
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value|escape }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                <div class="justify-content-center">
                    <h3 class="text-center">Скинути пароль</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                            <div class="col-md-10 offset-md-1">
                                <label class="mb-1" for="id_new_password1">Новий пароль:</label>
                                <input type="password" name="new_password1" autocomplete="new-password"
                                       class="form-control" required id="id_new_password1"
                                       placeholder="Новий пароль"/>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                <label class="mb-1" for="id_new_password2">Підтвердіть пароль:</label>
                                <input type="password" name="new_password2" autocomplete="new-password"
                                       required id="id_new_password2" class="form-control"
                                       placeholder="Підтвердіть пароль"/>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                <div class="form-group mt-0 mb-1">
                                    <button type="submit" class="col-md-12 btn btn-lg btn-warning" id="reset">Скинути пароль</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        {% else %}
        <div class="alert alert-warning">
            Посилання для скидання пароля було недійсним, можливо, тому, що воно вже використовувалося.
             Подайте запит на оновлення нового пароля.
        </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}